<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
  <%- externals.css %>
  <% if (hash.stylesheet) { %>
  <link rel="stylesheet" href="./static/styles.<%= hash.stylesheet %>.css" />
  <% } %>
  <% if (serviceWorker) { %> <script>if ('serviceWorker' in navigator) { navigator.serviceWorker.register('./service-worker.js') }</script><% } %>
</head>

<body>
  <div id="root"></div>
  <%- externals.js %>
  <script src="./static/vendor.<%= hash.vendor %>.js"></script>
  <script src="./static/framework.<%= hash.framework %>.js"></script>
  <script src="./static/manifest.<%= hash.manifest %>.js"></script>
</body>
</html>